main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 750px;
  height: 400px;
  border: black 2px solid;
  justify-content: center;
  text-align: center;
}

header {
  display: flex;
  justify-content: flex-end;
  height: 100px;
}

button {
  height: 30px;
  width: 200px;
  margin: 5px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: purple;
  color: white;
  font-weight: bold;
  text-align: left;
}

#start-button {
  text-align: center;
}

button:hover {
  opacity: 0.5;
}

#choice-block {
  display: flex;
  flex-direction: column;
}
